* {
  box-sizing: border-box;
}

body {
  background-color: #35363A;
  font-family: Verdana;
  color: #d9f2e6;
  text-align: center;
  margin: 0px;
}

input[type='number'] {
  width: 70px;
  height: 25px;
  background-color: #FFFFFF;
} 

button {
  width: 110px;
  height: 35px;
  font-size: 110%;
  margin-top: 18px;
} 

#mageToggle, #advancedBoxes {
  display: none;
}

#header {
  background-color: #367d5c;
  padding: 20px;
  margin-top: 20px;
}

#description {
  font-size: 120%;
  padding: 15px;
}

#mainContent {
  font-size: 110%;
}

#results {
  font-size: 120%;
  background-color: #367d5c;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
}
