* {
  box-sizing: border-box;
}

body {
  background-color: #242528;/*#35363A*/
  background-image: linear-gradient(#46484e, #242528);
  background-repeat: no-repeat;
  font-family: Verdana;
  color: #d9f2e6;
  text-align: center;
  text-shadow: 0 1px 8px #18191b;
  margin: 0px;
}

input[type='number'] {
  width: 70px;
  height: 25px;
  background-color: #FFFFFF;
}

#signsButton {
  margin-right: 6px;
}

#calcButton {
  width: 110px;
  height: 35px;
  font-size: 110%;
  margin-top: 18px;
}

#instructions, #mageToggle, #advancedBoxes {
  display: none;
}

#mageToggle {
  margin-bottom: 0px;
}

#header {
  background-color: #367d5c;
  text-shadow: 0 2px 10px #173627;
  box-shadow: 0 10px 20px #303136;
  padding: 20px;
  margin-top: 20px;
}

#description {
  font-size: 120%;
  padding-top: 15px;
  padding-bottom: 5px;
}

#mainContent {
  font-size: 110%;
  padding: 10px;
  max-width: 900px;
  margin: auto;
}

#mainTable {
  display: flex;
  justify-content: center;
}

table {
  margin-top: 23px;
  margin-bottom: 23px;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 280px;
  word-wrap: break-word;
}

tr {
  height: 50px;
  border-top: solid 2px;
}

#topRow {
  border-top: none;
}

.column1 {
  text-align: left;
}

.column2 {
  text-align: right;
  border-left: solid 2px;
}

#divider1 {
  margin: 25px auto;
  border-top: 2px solid #d9f2e6;
  max-width: 400px;
}

#divider2 {
  margin: 20px auto;
  border-top: 2px solid #d9f2e6;
  max-width: 400px;
  display: none;
}

#resultsText1, #resultsText2, #resultsText3, #resultsText4 {
  margin: 10px;
}

#results {
  font-size: 120%;
  background-color: #367d5c;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-shadow: 0 1px 8px #173627;
  box-shadow: 0 10px 20px #242528;
}
